.input-container {
  width: 200px;

  margin: 0 auto;
}

.input-container__input {

}

.input {

}

.input__item {

}

.input__label {
  display: block;

  width: 200px;
  height: 200px;

  border: 1px solid #000;
}

.input-container__list {

}

.list {

}

.list__item {

}

.list__item--active {
  color: green;
}
