.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  /* overflow: hidden; */

  background-color: #f9f9f9;
}

.main {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
}

.main__row {
  width: 100%;
}

.link {
  position: relative;

  display: block;

  width: 100%;
  min-width: 1810px;

  padding: 10px 0;

  border: 1px solid blue;

  background-color: blue;

  text-align: center;

  color: #fff;

  cursor: pointer;
}

.link__inner {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 0;

  overflow: hidden;

  transition: width 0.5s linear;
}

.link__text {
  display: block;

  width: 100vw;
  min-width: 1810px;

  padding: 10px 0;

  background-color: #fff;

  color: blue;

  text-align: center;
}

.link:hover .link__inner {
  width: 100%;

  transition: all 0.5s linear;
}
