.options {
  min-width: 1810px;

  padding: 5px 20px;
}

.form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.form__item {

}

.form__input {
  width: 120px;

  text-align: center;
}

#round {
  width: 30px;
}

.form__label {
  margin: 0 5px 0 0;

  cursor: pointer;
}

.form__check {

}

.form__input:checked ~ .form__label {
  text-decoration: line-through;
}

.form__inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-between;

  width: 730px;
}

.form__inner .form__input[type="text"] {
  width: 200px;
}
