.background {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 2000px;
  height: 100%;

  background-color: rgba(0, 0, 0, .8);
}

.background__content {
  width: 100px;
  height: 100px;

  border-radius: 50%;

  background: url(../img/BoringFeistyBumblebee-small.gif) -5px -5px no-repeat;
  background-size: 110px 110px;

  /* opacity: .4; */
}

.background.hidden {
  display: none;
}
