.tadle-container {
  flex: 1 1 100%;
}

.table {
  min-width: 1810px;

  margin: 0 auto;

  border: 1px solid #000;

  border-collapse: collapse;

  font-size: 13px;
}

.table__head {
  background-color: #f5f5f5;
}

.table__title {
  padding: 5px;
}

.table__body {

}

.table__row {

}

.table__row th {
  padding: 3px 5px;

  border: 1px solid #000;

  background-color: #a49f9f;
}

.table__row:nth-child(2n) {
  background-color: #e9e3e3;
}

.table__data {
  padding: 3px 5px;

  border: 1px solid #000;
}

.hidden {
  display: none;
}
